.intro{
  font-style: italic;
  text-align:left;
  color: blue;
}
.author{
  color: crimson;
}
#id{
  font-size: 15;
}
.unimportant{
  color: chocolate;
}
.ula{
  color: aquamarine;
}
img{
  float: inline-start;
  border-radius: 50%;
  background-color: lawngreen;
}